<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <!-- TODO: answer here -->
    <h3>Add new task</h3>

    <div class="relative py-24 sm:w-96 mx-auto text-center">
        <a href="/dashboard" class="mr-9 inline text-sm hover:text-blue-600 hover:underline"><i
                class="fa-solid fa-arrow-left"></i></a>
        <h1 class="inline text-2xl font-bold ">Add New Task</h1>
        <div class="mt-4 bg-white shadow-md rounded-lg text-left">
            <div class="h-2 bg-purple-400 rounded-t-md"></div>
            <div class="px-8 py-6 ">
                <form action="/task/create?category={{.category}}" method="POST">
                    <label class="block font-semibold">Title</label>
                    <input type="text" placeholder="Title" name="title"
                        class="border w-full h-5 px-3 py-5 mt-2 rounded-md hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 ">

                    <label class="block font-semibold">Description</label>
                    <input type="text" placeholder="Description" name="description"
                        class="border w-full h-5 px-3 py-5 mt-2 rounded-md hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 ">

                    <button type="submit"
                        class="mt-4 bg-purple-500 text-white py-2 px-6 rounded-md hover:bg-purple-600 ">Add
                        Task</button>
            </div>
            </form>
        </div>
    </div>
</body>

</html>